node_modules
dist
dev-dist
coverage
*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# Course PDFs are copyrighted material: keep them out of the (public) repo.
samples/*
!samples/README.md
